body {
	/* background: url(../images/main.png) ; */
	background-color: #3a2d32;
	color: #fefefe;
	
	word-wrap: break-word; 
	text-align: center;
	/* min-width: 960px; */
	
	font-size: 16px ; font-size: 1.6rem ;
	line-height: 1.4;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif ;
    
    margin: 0px;
}

.fit-image {
    width:100%;
    max-width: 100%;
    height:auto;
    margin: 0px;
    vertical-align: bottom;
}

.relative {
    position: relative;
}
.absolute-lefttop {
    position: absolute;
    left: 0px;
    top: 0px;
}
.absolute-righttop {
    position: absolute;
    right: 0px;
    top: 0px;
}

.refrect{
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.background {
    width: 100%;
    height: auto;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-position: right center;
    margin: 0px;
    padding: 0px;
}

.line {
    width: 100%;
    height: 30px;
    background-image: url(../images/line.png);
    background-repeat: repeat-x;
    background-position: right center;
    margin: 0px;
    padding: 0px;
}

.table-ul {
    background-color: #000;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    padding-left: 0px;
}
.table-ul li {
    display: table-cell;
    vertical-align: middle;
}
.table-ul li a {
    color: #fefefe;
    display: block;
    font-size: 12px;
    text-decoration: none;
    padding: 20px 0;
}
